.screenshot img
{
    border: 1px solid #bcbebf;
    border-radius: 8px;
}

.downloads .platforms_
{
    margin-bottom: 28px;
}
.downloads .platform_ .button
{
    background:url("images/download.png") 5px 8px no-repeat,linear-gradient(to bottom,#eff0f1 0%,#dbdcdd 100%);
    padding: 0 12px 0 25px;

    margin-right: 6px;
}
.downloads .platform_ .button:active
{
    background: url("images/download.png") 5px 8px no-repeat,linear-gradient(to bottom,#a7a7a8 0%,#cccdce 100%);
}
.downloads .platform_ .button
{

}

.body .description
{
    line-height: 38px;
}

.body .links_
{
    border-bottom: 1px solid #bcbebf;
}
.body .links_ a
{
    font-size: 16px;
    padding: 4px 6px 4px 0;
}

.body .user_review
{
    display: inline-block;
    padding: 12px 8px 12px 8px;
    border: 1px solid #bcbebf;
    border-radius: 4px;
    background: #f7f8f9;
    margin-right: 2px;
    margin-bottom: 6px;
    vertical-align: top;
    width: 220px;
}
.body .user_review > .photo_
{
    overflow: hidden;

    background: transparent;
}
.body .user_review > .photo_ > img
{
    display:block;
    width: 220px;
    height: 160px;
}
.body .user_review > .comment_
{
    font-size: 16px;
    padding: 8px 0 8px 0;
    line-height: 20px;
    white-space:normal;
    word-break:keep-all;
}
.body .user_review > .name_
{
    text-align: right;
    font-style: italic;
    color: gray;
    font-size: 16px;
    margin-top: 8px;
}